* {
  margin: 0;
  padding: 0;
}

body {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3, h5 {
  font-size: 14px;
}

#title {
  width: 1300px;
  height: 400px;
  background-color: skyblue;
  color: white;
}